
h1 {
  color: #FE5F55
}

.card-title{
  color :#FE5F55
}

.about-body{
  background-color: #BDD5EA;
}

.about-container{
  /* border: none !important; */
}

.about-card{
  border: .15rem solid #495867 !important;
  /* padding: 2.5px; */
}

.about-image{
  border-bottom: .15rem solid #495867 !important;
  height: 60rem;
}

.card-text{
  color: #495867
}