
  
.card-img-top {
  /* margin-right: 50px */
}

.home-jumbo {
  /* height: 100%;
  margin-bottom: 50px */
}

/* .home-container {
  height: 100vw;
  margin-bottom: 50px
} */

h1 {
  color: #F7882F;
}
