
  
/* .card-img-top {
  height: 300px;
  width: 300px
} */

.home-jumbo {
  /* height: 100%;
  margin-bottom: 50px */
}

/* .home-container {
  height: 100vw;
  margin-bottom: 50px
} */

h1 {
  margin-left: 168px;
  color: #F7882F;
}
