.modal-button {
    margin: 5px;
    color: #6B78AF !important;
    font-style: bold !important;
}

.about-me-modal {
    margin: 25px;
}

.modal-title {
   color: #6B78AF;
}


@media only screen and (max-width: 600px) {
  .modal-button {
    font-size: 6px;
    text-align: center;
    width: 40vw !important;

  };
  #modal-button{
    width: 40vw !important;
  }
}

/*Small devices (large smartphones and portrait tablets >= 600px)*/

@media only screen and (min-width: 600px) {
  .modal-button {
    height: 25px;
    font-size: 10px;
    padding: revert;
    width: 40vw !important;

  };

  #modal-button{
    width: 40vw !important;
  }
}

/*Medium devices (landscape tablets >= 768px)*/
@media only screen and (min-width: 768px) {
  .modal-button {
    height: 30px;
    font-size: 13px;
    padding: none;
  }
}

/*Large devices (laptops and desktops, >=600px)*/

@media only screen and (min-width: 992px) {
  .modal-button {
    height: 40px;
    font-size: 13px;
    padding: revert;
  }
}

/*Extra Large devices (laptops and desktops <600px)*/

@media only screen and (min-width: 1200px) {
  .modal-button {
    height: 40px;
    font-size: 16px;
    padding: revert;
  }
} ;


 

  