.nav-link {
    color: #6B78AF;    
  }

  .nav-link:active {
      color: #F7C331

  }

  .nav-link:hover {
    color: #F7C331
}

/* .nav {
  background-color: #f8f9fa
} */
.Navbar-inner {
  background:transparent;
}