.nav-link-one {
  color: white;
}

/* .card-img-top {
  height: 300px;
  width: 300px
} */

#home-jumbo {
  width: 35vw;
  margin-left: 55px;
}

.jumbo-div {
  margin-top: 0vw;
}

.home-container {
  height: 45vw;
  margin-left: 15vw;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .jumbo-header {
    color: #f7882f;
    font-size: 2rem;
  }
  .jumbo-subtitle {
    font-size: 1rem;
    color: #6b78af;
  }
  #home-jumbo {
    width: 50vw;
    margin-top: 70vw
  }
}

/*Small devices (large smartphones and portrait tablets >= 600px)*/

@media only screen and (min-width: 600px) {
  .jumbo-header {
    color: #f7882f;
    font-size: 1.3rem;
  }
  .jumbo-subtitle {
    font-size: .8rem;
    color: #6b78af;
  }

  #home-jumbo {
    width: 65vw; 
    margin-top: -60px;
    margin-left: 115px;
  }
}

/*Medium devices (landscape tablets >= 768px)*/

@media only screen and (min-width: 768px) {
  .jumbo-header {
    color: #f7882f;
    font-size: 1.7rem;
  }
  .jumbo-subtitle {
    font-size: 1.0rem;
    color: #6b78af;
  }
  #home-jumbo {
    width: 70vw
  }
}

/*Large devices (laptops and desktops, >=600px)*/

@media only screen and (min-width: 992px) {
  .jumbo-header {
    color: #f7882f;
    font-size: 2.1rem;
  }
  .jumbo-subtitle {
    font-size: 1.1rem;
    color: #6b78af;
  }
  #home-jumbo {
    width: 65vw
  }
}

/*Extra Large devices (laptops and desktops <600px)*/

@media only screen and (min-width: 1200px) {
  .jumbo-header {
    color: #f7882f;
    font-size: 2.5rem;
  }
  .jumbo-subtitle {
    font-size: 1.5rem;
    color: #6b78af;
  }
  #home-jumbo {
    width: 40vw;
    margin-top: 70px;
    margin-left: 500px
  }
} ;

