.nav-link-one {
  color: white;
}

/* .card-img-top {
  height: 300px;
  width: 300px
} */

#home-jumbo {
  width: 35vw;
  margin-left: 55px;
}

.jumbo-div {
  margin-top: 0vw;
}

.home-container {
  height: 45vw;
  position: relative;
  margin-left: 5vw;
}

@media only screen and (max-width: 600px) {
  .jumbo-header {
    color: #f7882f;
    font-size: 2rem;
  }
  .jumbo-subtitle {
    font-size: 1rem;
    color: #6b78af;
  }
  #home-jumbo {
    width: 65vw;
    margin-top: 70vw;
    /* margin-left: -10vw; */
    text-align: center;
  }
  #article {
    margin-left: -20vw;
  }
}

/*Small devices (large smartphones and portrait tablets >= 600px)*/

@media only screen and (min-width: 600px) {
  .jumbo-header {
    color: #f7882f;
    /* font-size: 1.3rem; */
  }
  .jumbo-subtitle {
    /* font-size: .8rem; */
    color: #6b78af;
  }

  #home-jumbo {
    text-align: center;

    /* width: 65vw;  */
    /* margin-top: -60px; */
    /* margin-left: 115px; */
  }

  .home-container {
    margin-left: 5vw;
  }
}

/*Medium devices (landscape tablets >= 768px)*/

@media only screen and (min-width: 768px) {
  .jumbo-header {
    color: #f7882f;
    font-size: 1.7rem;
  }
  .jumbo-subtitle {
    font-size: 1.0rem;
    color: #6b78af;
  }
  #home-jumbo {
    text-align: center;

    width: 50vw
  }
}

/*Large devices (laptops and desktops, >=600px)*/

@media only screen and (min-width: 992px) {
  .jumbo-header {
    color: #f7882f;
    font-size: 2.1rem;
  }
  .jumbo-subtitle {
    font-size: 1.1rem;
    color: #6b78af;
  }
  #home-jumbo {
    text-align: center;
    width: 45vw
  }
}

/*Extra Large devices (laptops and desktops <600px)*/

@media only screen and (min-width: 1200px) {
  .jumbo-header {
    color: #f7882f;
    font-size: 2.5rem;
  }
  .jumbo-subtitle {
    font-size: 1.5rem;
    color: #6b78af;
  }
  #home-jumbo {
    width: 40vw;
    margin-top: 70px;
    text-align: center;
  }

  .home-container {
    margin-left: 5vw;
  }
} ;

